
*.out
*.map
projects/IAR_840/Debug/Obj/.ninja_deps
projects/IAR_840/Debug/Obj/.ninja_log
*.ninja
*.pbd
*.browse
*.pbw
*.o
*.pbi
*.dep
*.xcl
*.eww
*.crun
*.dbgdt
*.bat
*.ps1
*.dnx
*.wsdt
projects/VS/.vs/device_driver/v16/.suo
*.db
*.log
*.exe
*.recipe
*.ilk
*.pdb
*.tlog
*.txt
*.obj
*.idb
*.sln
*.user
